<h1><%= @title %></h1>

<div class="container">
<div class="row">
<div class="col-md-4">
<% @blogs.each do |blog| %>
  <div class="blogbox">
    <div class="blogtitle clearfix">
      <%= blog.title %>
    </div>
    <div class="blogbody clearfix">
      <%= blog.body %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to 'Show', blog %>
      <% if logged_in? %>
      <%= link_to 'Edit', edit_blog_path(blog) %>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: '記事を削除しますか？' } %>
    </div>
    <% end %>
  </div>
<% end %>
</div>
</div>
</div>
<%= will_paginate @blogs, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<%= link_to 'New Blog', new_blog_path %>
