<h1><%= @title %></h1>

<div class="col-sm-3 col-xs-6">
  <div class="blogbox">
    <% @blogs.each do |blog| %>
    <div class="blogtitle clearfix">
      <%= blog.title %>
    </div>
    <div class="blogbody clearfix">
      <%= blog.body %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to 'Show', blog %>
      <% if logged_in? %>
      <%= link_to 'Edit', edit_blog_path(blog) %>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: '記事を削除しますか？' } %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<%= link_to 'New Blog', new_blog_path %>
