<% set_meta_tags title: @blog.title %>
<% breadcrumb :blog, @blog %>
<h1 class ="title"><%= @blog.title %></h1>

<div class="sidebar">
  <div class="sidebar__item">
    <h4 class ="recent_post">最近投稿されたジム</h4>
    <ul class="popular-posts">
      <li class="sidebar_row">
       <% @gyms.each do |gym| %>
        <div class="sidebar_blogbox">
          <div class="gym_sidebar_title clearfix">
            <%= link_to (gym.name), gym_path(gym) %>
          </div>
       <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>

  <div class ="show-blogbox">
    <%= @blog.body.html_safe %>
  </div>

<div class="blog_show_button">
<% if current_user?(@blog.user) %>
<button type="button" class="btn btn-success"><%= link_to '編集', edit_blog_path(@blog) %> </button>
<button type="button" class="btn btn-success"><%= link_to "削除", @gym, method: :delete,
data: { confirm: "削除しますか？" } %></button>
</div>
<% end %>
