<% provide(:title, "Edit user") %>
<% breadcrumb :edit_user, @user %>
<h1>プロフィールを編集する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>


      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
<div class="user-edit-button">
      <%= f.submit "変更を保存する", class: "btn btn-primary" %>
    <% end %>
</div>
    </div>
  </div>
