<h1>こちらの内容でよろしいですか？</h1>
<p> email: <%= @contact.email %></p>
<p> message: <%= @contact.message %></p>

<%= form_for :contact, url: new_contacts_path do |f| %>

<div class="form-group">
  <%= f.hidden_field :email %>
</div>

<div class="form-group">
  <%= f.hidden_field :message %>
</div>
<%= f.submit '入力画面に戻る' %>
<% end %>

<%= form_for :contact, url: contacts_path do |f| %>

<div class="form-group">
  <%= f.hidden_field :email %>
</div>

<div class="form-group">
  <%= f.hidden_field :message %>
</div>

<%= f.submit '送信する' %>

<% end %>
