<%= form_for :contact, url: confirm_contacts_path do |f| %>
<% set_meta_tags noindex: true %>
  <div class="form-group">
    <%= f.label :email, '返信先メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

 <div class="form-group">
   <%= f.label :message, 'お問い合わせ内容' %>
   <%= f.text_area :message, size: '10x10', class: 'form-control' %>
 </div>

<div class =contactt-button>
  <%= f.submit '確認画面へ' %>
</div>
<% end %>
