<li id="gym<%= gym.id %>">
  <%= link_to gym.user.name %>
  <%= link_to (gym.name), gym_path(gym) %>
  <%= link_to gym.content %>
  <% gym.picture.each do |picture| %>
    <%= image_tag picture.url  %>
  <% end %>
  <% if current_user?(gym.user) %>
     <%= link_to "削除", gym, method: :delete,
                                      data: { confirm: "削除しますか？" } %>
   <% end %>
</li>
