<h1>口コミ</h1>
<% breadcrumb :gyms %>
<div class="container">
  <%= search_form_for @search do |f| %>

  <div class="search-field-name"><%= f.label :name, 'ジム名' %></div>
   <div class="search-field">
   <%= f.search_field :name_cont ,placeholder: 'ジム名を入力...' %>
   </div>
  <dt class="search">
    <%= f.submit '検索', class: "btn btn-success" %>
  </dt>
<% end %>
  <div class="row">
    <% if @check.present? %>
      <%= render partial: 'gym', collection: @gym_search, as: :gym %>
    <% else %>
      <%= render partial: 'gym', collection: @gyms, as: :gym %>
      <% end %>
  </div>
</div>
<div class =gym-button>
<button type="button" class="btn btn-success">
  <%= link_to '投稿する', new_gym_path %></button>
  </div>

<%= will_paginate @gyms, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
