<div><%= @gym.name %></div>
<div><%= @gym.content %></div>
<% if @gym.picture? %>
  <% if @gym.picture.each do |picture| %>
  <%= image_tag(picture.url) %>
  <% end %>
<% end %>




<div class="comments">
  <% if @comments.any? %>
  <%= render @comments %>
  <%= will_paginate @comments %>
  <% end %>
</div>

<div><%= render partial:'comments/comment_form' %></div>
