<div><%= @gym.name %></div>
<div><%= @gym.content %></div>

<div><%= render partial:'comments/comment_form' %></div>
<p></p>
<div class="comments">
  <% if @comments.any? %>
    <%= render @comments %>
  <%= will_paginate @comments %>
  <% end %>
</div>
