<div><%= @gym.name %></div>
<div><%= @gym.content %></div>
<%= image_tag @gym.picture.url unless @gym.picture.blank?  %>




<div class="comments">
  <% if @comments.any? %>
    <%= render @comments %>
  <%= will_paginate @comments %>
  <% end %>
</div>

<div><%= render partial:'comments/comment_form' %></div>
