<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "ホーム", root_path %></li>
        <li class="active"><%= link_to "コラム", blogs_path %></li>
        <li class="active"><%= link_to "口コミ", gyms_path %></li>
        <% if logged_in? %>
          <li class="active"><%= link_to "マイページ", user_path(current_user) %></li>
        <% if current_user.try(:admin?) %>
          <li class="active"><%= link_to "管理画面", "/admin" %></li>
        <% end %>
        <li class="active"><%= link_to "設定", edit_user_path(current_user) %></li>
        <li class="active"><%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトしますか?" } %></li>
        <% else %>
        <li class="active"><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
