<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "お問い合わせ", help_path %></li>
        <li><%= link_to "コラム", blogs_path %></li>
        <% if logged_in? %>
        <li><%= link_to "ユーザー", users_path %></li>
        <li><%= link_to "口コミ", gyms_path %></li>
        <% if current_user.try(:admin?) %>
        <li><%= link_to "管理画面", "/admin" %></li>
        <% end %>
        <li><%= link_to "プロフィール", current_user %></li>
        <li><%= link_to "設定", edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <li>
          <%= link_to "ログアウト", logout_path, method: :delete %>
        </li>
      </ul>
      <% else %>
      <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </nav>
  </div>
</header>
